<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordle - powered with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game-page.css')}}">
  </head>

  <body>
    <header>
      <h1>WORDLE</h1>
    </header>

  

    <div id="game-container">
        <div id="board">
            {% for i in range(6) %}            
                <div class="row row-{{i+1}}">
                    {% for j in range(5) %}
                    <div class="tile" id="tile-{{i}}-{{j}}"></div>
                    {% endfor %}
                </div>            
            {% endfor %}
            </div>

        <div id="keyboard">
        {% for key_row in keylist%}
            <div class="key-row">
                {% for key in key_row  %}
                    <button class="key">{{ key }}</button>
                {% endfor %}
            </div>
        {% endfor %}

        </div>
    </div>

    <div id="message" class="message"></div>

      <script>

        let attemptsLeft = 6;
        let currentAttempt = 1;

        function attachOnClicktoKeys() {
            keyboard = document.getElementById("keyboard")
            keys = keyboard.getElementsByClassName("key")
            for ( const key of keys){
                key.onclick = () => handleKeyInput(key.innerText)
            }
        }

        function getNextVacantTile(){
            for(let i=0; i<5; i++){
                tile = document.getElementById(`tile-${currentAttempt-1}-${i}`);
                if(tile.innerText == ''){
                    return tile;
                }
            }
            return null;
        }

        function getLastFilledTile(){
            for(let i=4; i>-1; i--){
                tile = document.getElementById(`tile-${currentAttempt-1}-${i}`);
                if(tile.innerText !== ''){
                    return tile;
                }
            }
            return null;
        }

        function handleDelPress() {
            let lastFilledTile = getLastFilledTile()
            if (lastFilledTile) {
                lastFilledTile.innerText = ''
            }
            
        }

        function handleEnterPress() {
            let submittedTiles = document.getElementsByClassName(`row-${currentAttempt}`)[0].getElementsByClassName('tile');
            let submittedAnswer = '';
            for (let tile of submittedTiles){
                submittedAnswer += tile.innerText
            }
            console.log("Submitted answer is ", submittedAnswer)
            const url = {{ url_for('game.CheckWord')|tojson}}
            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "word" : submittedAnswer})
            }).then(response => response.json())
            .then(data => console.log(data))
        }

        function handleKeyInput(key) {
            
            if( key == 'ENTER') {
                console.log('Enter pressed')
                handleEnterPress();
                return;
            }

            if( key == 'DEL') {
                handleDelPress();                
                return;
            }



            let nextVacantTile = getNextVacantTile()
            if(nextVacantTile){
                nextVacantTile.innerText = key;
            }
        }

        attachOnClicktoKeys();

    </script>
  </body>
</html>
